h1 {
  @apply text-4xl pt-5 capitalize font-bold mb-5;
  line-height: 1.2;
  
  @screen md {
    @apply text-5xl;
    @apply pt-10;
  }

  @screen lg {
    @apply text-6xl;
  }
}
h2 {
  @apply text-xl;
  line-height: 1.5;
}
h3 {
  @apply text-lg font-bold;
  line-height: 1;
}

button{
  outline: none !important;
}

input{
  &:focus::placeholder{
    color: transparent;
  }
  &::placeholder{
    @apply font-normal text-sm;
  }
}

.cd-button{
  @apply bg-cd-verde text-white py-3 px-10 border-b-4 border-cd-verde-scuro rounded;
  &:hover{
    @apply border-b-2 border-t-2 border-cd-verde;
  }
  &--giallo{
    @apply bg-cd-giallo text-white py-3 px-10 border-b-4 border-cd-giallo-scuro rounded;
    &:hover{
      @apply border-b-2 border-t-2 border-cd-giallo;
    }
  }
  &--rosa {
     @apply bg-cd-rosa text-white py-3 px-10 border-b-4 border-cd-rosa-scuro rounded;

     &:hover {
        @apply border-b-2 border-t-2 border-cd-rosa;
     }
  }
  &--transparent {
     background-color: transparent;
     @apply text-cd-rosa py-3 px-10 border-none;
  }
  &--white{
    @apply bg-white text-cd-verde py-3 px-10 border-b-4 border-cd-verde rounded;
    &:hover{
      @apply border-b-2 border-t-2 border-white;
    }
  }
}

.cd-category-button{
  @apply bg-cd-rosa text-white py-2 px-6 border border-white rounded;
  &--pressed{
    @apply bg-white text-cd-rosa;
  }
}